<div>
  <h2 class="container">Player {{ user_id }}</h2>
  <div class="box">
    <h2 style="text-align:center">Profile</h2>
    <div class="column">
      <img src="{{ user.avatar }}" alt="pic" width="200" height="200" />
      <span class="row">First Name: {{ user.first_name }}</span>
      <span class="row">Last Name: {{ user.last_name }}</span>
      <span class="row">Email: {{ user.email }}</span>
      <!-- <span class="row">Draw 1: </span>
      <input type="text" id="draw1" /><br />

      <span class="row">Draw 2: </span>
      <input type="text" id="draw2" /><br />
      <span class="row">Draw 3: </span>
      <input type="text" id="draw3" /><br /> -->
      <label>Draw 1: <input [(ngModel)]="draw1" /></label>
      <label>Draw 2: <input [(ngModel)]="draw2" /></label>
      <label>Draw 3: <input [(ngModel)]="draw3" /></label>
    </div>
  </div>
</div>
