.row {
  display: table;
  width: 50%;
  table-layout: fixed;
  border-spacing: 10px;
  text-align: center;
}

.column {
  display: table-cell;
  text-align: center;
}
/* button {
  background-color: transparent;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  color: #0056b3;
} */
