<div class="row">
  <div class="column">
    <h3>
      <!-- <app-player [user_id]="1" (notify)="onNotify()"> </app-player> -->
      <button type="button" (click)="displayPlayerA()">Player 1</button>

      <!-- <app-player
    (playerChange)="playerData = $event"
    [item]="item"
    (itemChange)="item = $event"
    (playerChange)="playerData = $event"
    [user_id]="1"
    *ngIf="showComponentA"
  > -->
      <app-player [user_id]="1" *ngIf="showComponentA"> </app-player>
    </h3>
  </div>
  <div class="column">
    <h3>
      <button type="button" (click)="displayPlayerB()">Player 2</button>
      <app-player [user_id]="2" *ngIf="showComponentB"> </app-player>
    </h3>
  </div>
</div>
<div class="row">
  <div class="column">
    <h3>
      <button
        type="button"
        [disabled]="!btnResultValid"
        (click)="displayResult()"
      >
        Result
      </button>
      <div class="row">
        <span>Result: </span>
      </div>

      <div class="row">
        <div class="column">
          <app-player-result *ngIf="showResult"> </app-player-result>
          <!-- <app-player [user_id]="1"> </app-player> -->
        </div>
      </div>
    </h3>
  </div>
</div>
