<h3>
  <!-- <app-player [user_id]="1" (notify)="onNotify()"> </app-player> -->
  <button type="button" (click)="displayPlayerA()">Player 1</button>
  <app-player [user_id]="1" *ngIf="showComponentA"> </app-player>
</h3>
<h3>
  <button type="button" (click)="displayPlayerB()">Player 2</button>
  <app-player [user_id]="2" *ngIf="showComponentB"> </app-player>
</h3>
<h3>
  <button type="button">Result</button>
  <div class="row">
    <div class="column">
      <app-player [user_id]="1"> </app-player>
    </div>
    <div class="column"><app-player [user_id]="2"> </app-player></div>
  </div>
</h3>
